<div class="conan-roll damage-roll">
  <div class="dice-roll">
    <div class="dice-result">
      <h4 class="dice-formula">{{formula}}</h4>
      <div class="dice-tooltip">
        {{#if massiveDamage}}
        <div class="massive-damage"><i class="fas fa-burst"></i> Massive Damage (Flex spent)</div>
        {{/if}}
      </div>
      <h4 class="dice-total">{{total}}</h4>
    </div>
  </div>
  <div class="damage-note">
    <p><em>Remember to subtract target's Armor Rating</em></p>
  </div>
</div>
