<div class="conan-roll stat-check">
  <div class="dice-roll">
    <div class="dice-result">
      <h4 class="dice-formula">{{formula}}</h4>
      <div class="dice-tooltip">
        {{#if autoFail}}
        <div class="auto-fail"><i class="fas fa-skull"></i> Automatic Failure (rolled 1 on stat die)</div>
        {{/if}}
        {{#if hasFlexTrigger}}
        <div class="flex-trigger"><i class="fas fa-star"></i> Flex Triggered!</div>
        {{/if}}
      </div>
      <h4 class="dice-total">{{total}}</h4>
    </div>
  </div>
</div>
