{{!-- Biography Tab --}}
<div class="tab-content biography-tab" data-tab="biography">

  <div class="editor-container">
    <div class="editor">
      {{editor enrichedBiography target="system.biography" button=true owner=owner editable=editable}}
    </div>
  </div>

</div>
