<div class="conan-roll initiative">
  <div class="dice-roll">
    <div class="dice-result">
      <h4 class="dice-formula">{{formula}}</h4>
      <h4 class="dice-total">{{total}}</h4>
    </div>
  </div>
</div>