{{!-- Item Description Tab --}}
<div class="tab-content description-tab" data-tab="description">

  <div class="editor-container">
    <div class="editor">
      {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
    </div>
  </div>

</div>
